
@import url("https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css");
header{
    margin-top: 30px;
    margin-bottom: 90px;
}
a:hover{
    text-decoration: none;
    color: black;
}
.horizontal-card{
    display: flex;
    border:1px solid gray;
    margin-bottom:1rem;
}

.horizontal-card-body{
    display: flex;
    flex-direction: column;
    margin-left:1rem;
}
.description{
    width: 500px;
}
img{
    width: 100px;
    height: 100px;
}
td{
  width: 150px;
}

